@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
}
.container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11.625rem;
    margin: 20px 140px;
}
.logo{
   width: 62px;
   height: 62px;
}
.logo-container{
     gap: 11px;
}
.nav-item{
    list-style: none;
}
.nav-links{
    gap: 32px;
}

.nav-link{ 
    text-decoration: none;
}
.school{
    font-weight: 700; 
    font-size: 2rem;
    margin-top: 15px; 
}
.orange{
    color: orange;
}
.home{
     font-size: 1.25rem;
     font-weight: 700;
}
.About{
    color:rgb(1, 172, 253) ;
    font-weight: 500;
    font-size: 1.25rem;
}
.Facilities{
    color:rgb(5, 212, 223) ;
    font-weight: 500;
    font-size: 1.25rem;
}
.Admission{
    color:rgb(93, 88, 239) ;
    font-weight: 500;
    font-size: 1.25rem ;
}

.primary-btn{
    background-color: orange;
    color: rgb(255, 255, 255);
    padding: 10px 60.5px;
    font-size: 1.25rem;
    border-radius: 12px;
    border: none;
}
.menu-icon{
    display: none;
    width: 22.5px;
    height: 15px;
}

@media screen and (max-width: 576px) {
    .nav-container,
    .school,
    .primary-btn{
        display: none;
    }
    .menu-icon{
        display: block;
        width: 30px;
        height: 30px;
    }
    .logo{
        width: 46px;
        height: 46px;
    }
    header{
        border: 0.5px solid rgb(254, 163, 1);
    }
}