@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
}
.container{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11.625rem;
    margin: 20px 140px;
}
.logo{
   width: 62px;
   height: 62px;
}
.logo-container{
     gap: 11px;
}
.nav-item{
    list-style: none;
}
.nav-links{
    gap: 32px;
}

.nav-link{ 
    text-decoration: none;
}
.school{
    font-weight: 700; 
    font-size: 2rem;
    margin-top: 15px; 
}
.orange{
    color: orange;
}
.home{
     font-size: 1.25rem;
     font-weight: 700;
}
.About{
    color:rgb(1, 172, 253) ;
    font-weight: 500;
    font-size: 1.25rem;
}
.Facilities{
    color:rgb(5, 212, 223) ;
    font-weight: 500;
    font-size: 1.25rem;
}
.Admission{
    color:rgb(93, 88, 239) ;
    font-weight: 500;
    font-size: 1.25rem ;
}

.primary-btn{
    background-color: orange;
    color: rgb(255, 255, 255);
    padding: 10px 60.5px;
    font-size: 1.25rem;
    border-radius: 12px;
    border: none;
}
.menu-icon{
    display: none;
    width: 22.5px;
    height: 15px;
}
.banner-heading{
    font-size: 56px;
    font-weight: 700;               

}
.towards-vision{
    color: rgb(1, 172, 253);
}
.banner-description{
    width: 640px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    margin: 24px auto;
}
.banner-btn{
    background-color: rgb(17, 17, 17);
    color:rgb(255, 255, 255);
    padding: 10px 47px;
    font-size: 1.25rem;
    border-radius: 12px;
    border: none;
    font-weight: 700;
}

.banner-container{
     flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 18px 141px;     
    gap: 50px;
}

@media screen and (max-width: 576px) {
    .nav-container,
    .school,
    .primary-btn{
        display: none;
    }
    .menu-icon{
        display: block;
        width: 30px;
        height: 30px;
    }
    .logo{
        width: 46px;
        height: 46px;
    }
    header{
        border: 0.5px solid rgb(254, 163, 1);
    }

    .banner-container{
        flex-direction: column-reverse;
        margin-top: 8px;
        margin-left: 17px ;
        margin-right: 17px;
        gap: 20px;
        
    }
    .banner-content{
        text-align: center;
        width: 357px;
        height: 252px;
    }
    .banner-heading{
        font-size: 32px;
    }
    .banner-description{
        width: 357px;
        height: 54px;
        font-size: 14px;
    }
    #super-student{
        width: 336px;
        height: 413px;
    }

}